* {
    margin: 0;
}

body {
    font-family: arial，helvetica，sans-serif;
    font-size: 16px;
    height: auto;
    background-color: #f0f0f0;
}

#nav {
    width: 1000px;
    height: 45px;
    margin: 0 auto;
    background-color: #D40B07;
    font-size: 17px;
}

#nav li {
    width: 150px;
    height: 45px;
    text-align: center;
    float: left;
    line-height: 45px;
    list-style-type: none;
}

#nav li a:link{
    color:white;
    text-decoration: none;
}
#nav li a:visited {
    color:white;
    text-decoration: none;
}
#nav li a:hover {
    text-decoration: underline;
}

#pos {
    width: 960px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    font-size: 1.3em;
    font-family: "微软雅黑";
    color: #4f4f4f;
}

#pos img {
    float: left;
}
#pos span {
    font-size: 12px;
}

#pos p {
    color: white;
    font-size: 16px;
}


#content {
    width: 1000px;
    background-color: white;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid rgb(197, 207, 245);
}

#footer {
    clear: both;
    text-align: center;
    padding-top: 35px;
    font-size: 13px;
}

#footer .info a:link,
a:visited {
    color: #999;
    text-decoration: none;
}

#footer .info a:hover {
    color: black;
    text-decoration: underline;
}

#footer .copy {
    margin-top: 15px;
    margin-bottom: 35px;
    color: #999;
}